
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="navbar-nav d-flex align-items-center">
            <img src="{{ url_for('static', filename='images/logo_potager.png') }}" alt="Logo Potager">
            <a class="navbar-brand fw-bold" href="/">SAE - Mon Potager</a>
            <a class="btn btn-outline-success my-2 my-sm-0 me-2" href="">Actions</a>
            <a class="btn btn-outline-success my-2 my-sm-0 me-2" href="">Produits</a>
            <a class="btn btn-outline-success my-2 my-sm-0 me-2" href="/signalement/show">Signalements</a>
            <a class="btn btn-outline-success my-2 my-sm-0 me-2" href="">Plantation</a>
        </div>
    </div>
</nav>