{% extends 'layout.html' %}

{% block body %}
<div class="container mt-4">

    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>Ajouter une entrée dans la Table des Plantations</h1>
    </div>
    <form method="POST" action="/plantation/add">

        <div class="mb-3">
            <label for="id_parcelle" class="form-label">L'identifiant de la parcelle :</label><br>
            <select id="id_parcelle" class="form-select" name="id_parcelle" required>

                <option value=""> Sélectionnez une parcelle </option>
                {% for p in parcelles %}
                    <option value="{{ p.id_parcelle }}">{{ p.id_parcelle }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label for="produit_id" class="form-label">Identifiant du produit :</label><br>
            <select class="form-select" id="produit_id" name="produit_id" required>

                <option value=""> Sélectionnez un produit </option>
                {% for pr in identifiantproduit %}
                    <option value="{{ pr.id_produit }}">{{ pr.libelle_produit }} (ID: {{ pr.id_produit }})</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
                <label for="date_plantation" class="form-label">Date de plantation :</label><br>
                <input type="date" class="form-control" id="date_plantation" name="date_plantation" required><br>
        </div>
        <button type="submit"  class="btn btn-success">Ajouter</button>
        <a href="/plantation/show" class="btn btn-outline-danger">Annuler</a>
    </form>
</div>
{% endblock %}
