{% extends 'layout.html' %}

{% block title %}
    <title>title</title>
{% endblock %}

{% block body %}

<h1>Liste des produits</h1>

<a class="btn btn-success" href="/produit/add" >Ajouter un produit</a>
<a class="btn btn-outline-primary" href="/produit/statistique">Statistiques</a>

{% if produits | length >= 1 %}
    <div class="table-responsive">
    <table class="table table-hover mb-0" style="table-layout: fixed; margin-top: 20px;">
        <thead class="table-light">
            <tr>
                <th>ID</th>
                <th>Libellé</th>
                <th>Prix</th>
                <th>recolte optimal</th>
                <th>plantation optimal</th>
                <th>Catégorie (ID)</th>
                <th class="text-end">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td><span class="badge rounded-pill" style="background-color:#28a745; color:white;">{{ produit.id }}</span></td>
                <td><span class="badge rounded-pill" style="background-color:#dc3545; color:white;">{{ produit.libelle }}</span></td>
                <td><span class="badge rounded-pill" style="background-color:#dc3545; color:white;">{{ produit.prix }}</span></td>
                <td><span class="badge rounded-pill" style="color: black">{{ produit.recolte }}</span></td>
                <td><span class="badge rounded-pill" style="color: black">{{ produit.plantation }}</span></td>
                <td><span class="badge rounded-pill" style="background-color:#dc3545; color:white;">{{ produit.categorie_id }}</span></td>
                <td class="text-end">
                    <a class="btn btn-sm btn-warning me-1" href="/produit/edit?id={{ produit.id }}">editer</a>&nbsp;
                    <a style="margin-top: 10px;" class="btn btn-sm btn-danger" href="/produit/delete?id={{ produit.id }}">supprimer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% else %}
    <h2 class="alert alert-info m-3"> La liste des produits est vide</h2>
{% endif %}

{% endblock %}